[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/obsession"]
	path = pack/plugins/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/opt/fugitive"]
	path = pack/plugins/opt/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/repeat"]
	path = pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/opt/vimtex"]
	path = pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/plugins/opt/YouCompleteMe"]
	path = pack/plugins/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/tmux-navigator"]
	path = pack/plugins/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/plugins/start/vimux"]
	path = pack/plugins/start/vimux
	url = https://github.com/benmills/vimux.git
